'.source.cpm':
  'Title':
    'prefix': 't'
    'body': '{t:$1}'

  'Subtitle':
    'prefix': 'st'
    'body': '{st:$1}'

  'Comment':
    'prefix': 'c'
    'body': '{c:$1}'

  'Comment italic':
    'prefix': 'ci'
    'body': '{ci:$1}'

  'Comment chorus':
    'prefix': 'cc'
    'body': '{c:Chorus}'

  'Chorus':
    'prefix': 'chorus'
    'body': """

      {soc}
      $1
      {eoc}

    """

  'Tab':
    'prefix': 'tab'
    'body': """

      {sot}
      $1
      {eot}

    """
