# See https://atom.io/docs/latest/creating-a-package#menus for more details
'context-menu':
  'atom-text-editor': [
    {
      label: 'Preview'
      command: 'chordpro:toggle'
    }
  ]

menu: [
  {
    label: 'Packages'
    submenu: [
      label: 'Chordpro Preview'
      submenu: [
        {
          label: 'Toggle Preview'
          command: 'chordpro:toggle'
        }
      ]
    ]
  }
]
